.home-intro-section {
    height: ~"calc(100vh - @{header-height})";
    max-height: 100rem;

    background-color: @colors[grey-20];

    display: flex;

    position: relative;

    #respond-phone({
        height: auto;
        min-height: ~"calc(100vh - @{header-height})";
    });

    // background patterns
    &::before, &::after {
        content: "";

        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background-repeat: no-repeat;

        #respond-phone({
            background-size: 15rem;
        });
    }
    &::before {
        background-image: url("../../css-images/intro-pattern-top-left.svg");
        background-position: 2.4rem 2.4rem;
    }
    &::after {
        background-image: url("../../css-images/intro-pattern-bottom-left.svg");
        background-position: left 2.4rem bottom 2.4rem;

        #respond-tab-port({
            background-image: url("../../css-images/intro-pattern-top-left.svg");
            background-position: 2.4rem 2.4rem;
            transform: rotate(180deg);
        })
    }

    &__container {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr minmax(0, (@grid-column-width+@grid-gutter)) repeat(11, minmax(0, @grid-column-width)) 1fr;
        gap: @grid-gutter;
        justify-content: stretch;
        align-items: center;

        z-index: 1;

        #respond-phone({
            gap: 0;
        });
    }

    &__content-side {
        grid-column: 2 / span 7;

        padding: 3.2rem 0;

        animation: moveInRight .4s cubic-bezier(0.34, 1.56, 0.64, 1) both .1s;

        #respond-tab-port({
            grid-column: 3 / span 10;
            text-align: center;
            padding: 3.2rem;
        });
        #respond-phone({
            grid-column: 2 / span 12;
        });
    }

    &__image-side {
        grid-column: 9 / span 6;

        height: 100%;

        background-color: @colors[primary-light];

        clip-path: polygon(6.4rem 0, 100% 0, 100% 100%, 0 100%);

        padding: 3.2rem 0;

        display: grid;
        grid-template-columns: repeat(5, minmax(0, @grid-column-width)) 1fr;
        gap: @grid-gutter;
        align-items: center;
        justify-content: stretch;

        #respond-tab-port({
            display: none;
        });

        img {
            padding-left: @grid-column-width + 3.2rem;
            width: 100%;
            grid-column: span 5;

            animation: scaleIn .5s cubic-bezier(0.34, 1.56, 0.64, 1) both .6s;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;

        #respond-tab-port({
            justify-content: center;
        });
    }
}

.cheatsheets-section {
    padding: 3.2rem 3.2rem 4.8rem;

    &__content {
        max-width: @grid-width;
        margin: 0 auto;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: @grid-gutter;
        justify-content: center;

        > div {
            width: ~"calc(100%/3 - ((@{grid-gutter} * 2) / 3))";

            #respond-tab-port({
                width: ~"calc(100%/2 - (@{grid-gutter} / 2))";
            });
            #respond-phone({
                width: 100%;
            });
        }
    }
}

.about-section {
    padding: 3.2rem;

    background-color: @colors[grey-20];

    position: relative;

    &__container {
        max-width: @grid-width;
        margin: 0 auto;

        #display-12-grid();
        position: relative;
        z-index: 10;
    }

    &__content {
        grid-column: 3 / span 8;

        #respond-tab-port({
            grid-column: span 12;
        })
    }

    &__pattern {
        position: absolute;
        top: 0;

        width: 50%;
        height: 100%;

        #respond-tab-port({
            display: none;
        });

        &::before, &::after {
            content: "";
            display: block;

            height: 50%;

            background-repeat: no-repeat;
        }
        &::before {
            background-image: url("../../css-images/about-pattern-1.svg");
            background-position: 2.4rem 2.4rem;

            #respond-tab-land({
                background-size: 15rem;
            });
        }
        &::after {
            background-image: url("../../css-images/about-pattern-2.svg");
            background-position: left 2.4rem bottom 2.4rem;

            #respond-tab-land({
                background-size: 9.3rem;
            });
        }

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
            transform: rotate(180deg);
        }
    }
}