// BASIC MEDIA QUERIES
/*
0 - 600px;      Phone
600 - 900px;    Tablet portrait
900 - 1200px;   Tablet landscape
1200 - 1800px;  normal styles
1800px + ;      Big desktop
*/
#respond-phone(@rules) {
    @media (max-width: #pxToEm(600)[]) {
        @rules();
    }
}

#respond-tab-port(@rules) {
    @media (max-width: #pxToEm(900)[]) {
        @rules();
    }
}

#respond-tab-land(@rules) {
    @media (max-width: #pxToEm(1200)[]) {
        @rules();
    }
}

#respond-big-desktop(@rules) {
    @media (min-width: #pxToEm(1800)[]) {
        @rules();
    }
}


#display-12-grid() {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: @grid-gutter;

    #respond-phone({
        gap: 0;
    });
}

#center-pos-abs() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}