.header {
    background-color: @colors[primary-dark];

    height: @header-height;

    padding: 0 3.2rem;

    &--fixed {
        position: fixed;
        z-index: 30;
        width: 100%;
        max-width: @max-page-width;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__content {
        max-width: @grid-width;
        margin: 0 auto;

        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        &:link, &:visited {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1;

            text-transform: uppercase;
            text-decoration: none;

            color: @colors[white];
        }
    }

    &__navigation {
        display: flex;
        gap: 1.6rem;
    }
}

.header-container {
    height: @header-height;
    background-color: @colors[primary-dark];
}