.header {
    background-color: @colors[primary-dark];

    height: @header-height;

    padding: 0 3.2rem;

    position: relative;

    &--fixed {
        position: fixed;
        z-index: 30;
        width: 100%;
        max-width: @max-page-width;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__content {
        max-width: @grid-width;
        margin: 0 auto;

        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        &:link, &:visited {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1;

            text-transform: uppercase;
            text-decoration: none;

            color: @colors[white];

            user-select: none;

            @media (max-width: #pxToEm(390)[]) {
                font-size: 2.4rem;
            }
            @media (max-width: #pxToEm(320)[]) {
                font-size: 2rem;
            }
        }
    }

    &__navigation {
        display: flex;
        gap: 1.6rem;

        #respond-phone({
            justify-content: center;

            position: absolute;
            top: 100%;
            right: 0;
            z-index: 20;

            transform: translateX(100%);

            width: 100%;

            padding: 1.6rem;

            background-color: @colors[primary-dark];
            border-top: .4rem solid @colors[primary];

            transition: all .2s cubic-bezier(0.61, 1, 0.88, 1);
        });
    }

    &__navigation-checkbox {
        display: none;
    }
    #respond-phone({
        &__navigation-checkbox:checked + &__navigation {
            transform: translateX(0);
        }
    });
}

.header-container {
    height: @header-height;
    background-color: @colors[primary-dark];

    @media print { display: none; }
}